<h1><%= @meeting.name %></h1>

<p><%= @meeting.description %></p>

<%= link_to 'Edit', edit_meeting_path(@meeting), class: 'btn btn-warning' %>
<%= link_to 'Delete', meeting_path(@meeting), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
