<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-success mt">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="mb-0"><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="mb-0"><%= flash[:error] %></p>
  </div>
<% end %>
