.field_with_errors {
    @extend .is-invalid;
}

h1, h2, h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar-fixed {
    position: sticky;
    top: 0;
    z-index: 1071;
}

.sidebar-fixed {
    position: sticky;
    top: 10rem;
    z-index: 1000;
    background-color: white;
    height: -webkit-fill-available;
    max-width: max-content;
    min-width: max-content;
}

.page-content {
    padding-top: 1.5rem;
}

@media screen and (max-width: 700px) {
    .container-fluid {
        margin-left: unset;
        margin-right: unset;
        display: block;
        text-align: center;
    }
    .sidebar-fixed {
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: unset;
        position: unset;
        top: unset;
    }
    .page-content {
        padding-top: unset;
    }
}

.meeting-card {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.card-image {
    max-height: 250px;
    max-width: 250px;
    display: inherit;
}

.card-infos {
    display: contents;
}

.card-attendees {
    align-self: center;
    text-align: right;
    max-width: min-content;
}

.card-buttons {
    align-self: center;
    text-align: center;
    max-width: max-content;
}

/* Set the size of the div element that contains the map */
#map {
height: 400px;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}
