body {
    min-width: 360px;
}

.field_with_errors {
    @extend .is-invalid;
}

h1, h2, h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar-fixed {
    position: fixed;
    width: -webkit-fill-available;
    top: 0;
    z-index: 1071;
}

.container-fluid {
    margin-top: 84.75px;
}

// --- Horizontal mode: screen width >700px --- //
@media screen and (max-width: 1440px) {
    .container-fluid {
        min-width: 1440px;
    }
}

.sidebar-fixed {
    position: sticky;
    top: 10rem;
    z-index: 1000;
    background-color: white;
    height: -webkit-fill-available;
    max-width: max-content;
    min-width: max-content;
}

.page-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.custom-btn {
    width: 211px;
    height: 52px;
}

// Meeting feed
.meeting-card {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
.card-image {
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    align-items: center;
    display: flex;
}
.card-infos {
    display: contents;
}
.card-attendees {
    align-self: center;
    text-align: right;
    max-width: min-content;
}
.card-buttons {
    align-self: center;
    text-align: center;
    max-width: max-content;
}

// Meeting information page
.meeting-image-buttons {
    margin-right: 1rem;
    max-width: max-content;
    max-height: max-content;
}
.meeting-image {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.meeting-buttons {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.meeting-infos {
    margin-top: 1rem;
    margin-left: 1rem;
    border-left-style: groove;
    border-left-width: thin;
}
.meeting-attendees {
    padding-top: 3rem;
}
#map {
    height: 400px;
    width: 100%;
}

// --- Vertical mode: screen width <700px --- //
@media screen and (max-width: 700px) {
    .container-fluid {
        min-width: unset;
        margin-left: unset;
        margin-right: unset;
        display: block;
        text-align: center;
    }

    .sidebar-fixed {
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: unset;
        position: unset;
        top: unset;
    }

    .page-content {
        padding-top: unset;
    }

    // Meeting feed
    .card-body {
        display: contents;
    }
    .card-image {
        align-self: center;
    }
    .card-general {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .card-buttons {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    //Meeting information page
    .meeting-image-buttons {
        margin-left: auto;
        margin-right: auto;
    }
    .meeting-infos {
        margin-left: unset;
        border-left-style: unset;
    }
    .meeting-buttons .custom-btn {
        width: inherit;
    }
}